/* styles.css */

/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a base font size and font family */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* Container */
.container {
  max-width: 1250px;
  width: 100%
  margin: auto;
  padding: 0 20px;
}

/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  list-style: none;
  display: flex;
}

.nav-menu li {
  margin-right: 20px;
}

.nav-menu li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-menu li a:hover {
  color: #aaa;
}

.nav-toggle {
  display: none;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
}

/* Home Section */
#home {
  background-color: #ffffff;
  padding: 80px 0;
  text-align: center;
}

.section-title {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.section-subtitle {
  font-size: 18px;
  color: #666;
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #555;
}

/* About Section */
#about {
  padding: 80px 0;
}

.about-content {
  display: flex;
  align-items: center;
  background-color: #ffffff
}

.about-content img {
  width: 50pxx;
  height: auto;
  border-radius: 50%;
  margin: auto;
}

.about-content p {
  margin-bottom: 20px;
}

/* Music Section */
#music {
  background-color: #ffffff;
  padding: 80px 0;
}

.music-list {
  list-style: none;
}

video {
    width: 100%;
    height: auto;
}

.h3-v {
    font-size: 30px;
}

.music-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.song-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.song-info p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

/* Contact Section */
#contact {
  padding: 80px 0;
  text-align: center;
}

footer p {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  font-size: 14px;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }

.nav-toggle {
display: block;
}
    
    